.calendarview .header,
.calendarview .table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.calendarview .header {
    background-color: lightcoral;
    font-weight: bold;
    font-size: 1.3rem;
}

.calendarview .he   ader div {
    padding: 0.5rem;
}

.calendarview {
    padding: 0.5rem;
    font-size: 1rem;
}

.calendarview .day {
    margin-bottom: 0.5rem;
    border: 1px solid lightcoral;
    padding: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.calendarview .patient {
    margin-left: 0.5rem;
}

.calendarview .time {
    color: black;
    font-weight: bold;
}
.ill {
    background-color: #ea5252;
    color: white;
}

.icon-trash {
    float: right;
    cursor: pointer;
    color: black;
}

.icon-edit {
    float: right;
    cursor: pointer;
    color: green;
}