.dayview li {
    list-style-type: none;
    background-color: #fff;
}

.dayview .appointment {
    border: 2px solid lightcoral;
    width: 60%;
    margin-bottom: 20px;
    
}

.dayview .time,
.dayview .patient {
    height: 30px;
    padding: 10px;
}

.dayview .time {
    float: right;
    background-color: lightcoral;
}

.dayview .patient {
    font-weight: bold;
    background-color: lightpink;
}

.dayview .dentist,
.dayview .assistant,
.type {
    padding: 10px;
}
